footer{
    text-align: center;
    margin-right: 40px;
}
.footer--content{
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

#footer--img{
    max-width: 200px;
    height: auto;
    display: block;
}

.footer--right-list{
    list-style: none;
    padding:0%;
}

.footer--right-insta-img img{
height: 45px;
width: 45px;
}

.footer--right-fbook-img img{
    height:55px;
    width:55px;
}