/* header{
    display: flex;
    justify-content: center;
} */
header {
    /* background-image: url('../assets/annie-sprattCropped.jpg');
    background-size: cover;
    background-position: center; */
    background-color: #d8c4df;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    text-align: center;
}

.header--content-title {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    margin-bottom: 10px;
}

.header--content-tag {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .header--content-title {
        font-size: 3em; 
    }

    .header--content-tag {
        font-size: 1em; 
    }

    header {
        padding-top: 10px; 
        padding-bottom: 10px; 
    }
}