.menu--container{
    font-family: 'Roboto Mono', monospace;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 5px;
}
.menu--list{
    list-style: none;
    padding: 0;
}
.menu--list-item{
    text-align: left;
}

.menu--title{
    font-size: 2em;
    border-bottom: 1px solid black;
}
.list--item-title{
    font-weight: 700;
    font-size: 1.3em;
}